@import "~base/product/detail";

.product-loyalty-points  {
  .loyalty-points {
    text-align: center;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    p {
      border-radius: 0.1875rem;
      padding: 0.625rem 0.9375rem;
      border: 0.0625rem solid $green;
    }
  }

  .loyalty-message {
    width: 73%;
    margin-left: 0.625rem;
    text-align: right;

    @include media-breakpoint-down(md) {
      width: 100%;
      text-align: left;
      margin-top: 0.625rem;
    }
  }
}