@import "../variables";

.loyalty-dashboard-banner {
  background-image: url("../../images/account.jpg");
  background-position-y: 40%;
}

.rewards-wrapper {
  .date {
    border-bottom: 0.0625rem solid $gray-200;
    border-top: 0.0625rem solid $gray-200;
    padding: 0.5em 0;

    p {
      color: $gray-600;
      font-weight: $semiboldfont;

      span {
        font-weight: $thinfont;
      }
    }
  }
}

.rewards-points-wrap {
  border: 1px solid $gray-700;
  border-radius: 0.625rem;
  padding: 3.75rem 1.875rem;
  position: relative;
  height: 100%;

  .reward-icon {
    font-size: 3.125rem;
    font-weight: $thinfont;
    margin-bottom: 0.625rem;
    color: var(--skin-link-color-1);
  }

  .reward-points {
    font-size: 1.25rem;
    font-weight: $semiboldfont;
    margin-bottom: 0.25rem;
  }

  .reward-points-title {
    margin-bottom: 0.125rem;
  }

  .reward-points-detail {
    font-size: 0.9375rem;
    color: $gray-600;
  }

  &:hover {
    background-color: rgba(233, 236, 239, 47.1%);

    .reward-icon {
      color: var(--skin-primary-color-1);
    }
  }
}

.status {
  .status-title {
    margin-bottom: 0.3125rem;
  }

  .status-level {
    background-color: var(--skin-link-color-1);
    padding: 0.625rem 1.6875rem;
    color: $white;
    border-radius: 0.1875rem;
    font-size: 1.3125rem;

    @include media-breakpoint-down(sm) {
      width: 9.6875rem;
      margin: 0 auto;
    }
  }
}

.meter {
  display: block;
  width: 17.0625rem;
  height: 9.6875rem;
  margin: 0 auto;
}

.meter-left {
  transform: skewX(-2deg) skewY(1deg);
  stroke-width: 30;
  stroke-dashoffset: 253;
  stroke-dasharray: 120 400;
  stroke: $meterleft;
  fill: none;
}

.meter-center {
  stroke-width: 30;
  stroke-dashoffset: 128;
  stroke-dasharray: 120 400;
  stroke: $metercenter;
  fill: none;
}

.meter-right {
  transform: skewX(2deg) skewY(1deg);
  stroke-width: 30;
  stroke-dashoffset: 5;
  stroke-dasharray: 120 400;
  stroke: $meterright;
  fill: none;
}

.meter-clock {
  transform: rotate(-54deg);
  transform-origin: 8.5625rem 9.125rem;
  fill: var(--skin-link-color-1);
}

.meter-circle {
  fill: var(--skin-link-color-1);
}

/* Points History */
.activity-history-banner {
  background-image: url("../../images/account.jpg");
  background-position-y: 40%;
}

.point-history {
  .circle {
    width: 1.25rem;
    height: 1.25rem;
    background: var(--skin-primary-color-1);
    border-radius: 6.25rem;
    position: relative;
    margin: 0 auto;
  }

  .vertical-line {
    width: 0.125rem;
    height: 7.625rem;
    background: var(--skin-primary-color-1);
    margin: 0 auto;
  }

  .right-point-detail {
    background-color: $gray-100;
    width: 35.3125rem;
    padding: 1.25rem;
    border-radius: 0.1875rem;
    margin-left: 2.5rem;
    position: relative;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    .arrow-left {
      width: 0;
      height: 0;
      border-top: 0 solid transparent;
      border-bottom: 0.75rem solid transparent;
      border-right: 0.75rem solid $gray-100;
      position: absolute;
      top: 0;
      left: -0.75rem;
    }

    .detail-date {
      font-size: 0.75rem;
      color: $gray-600;
    }

    .detail-text {
      font-size: 0.875rem;
    }

    .detail-right {
      .big-detail {
        margin-bottom: 0.4375rem;
        font-size: 1.5rem;
        line-height: 1;
        font-weight: $semiboldfont ;

        @include media-breakpoint-down(md) {
          font-size: 1.5625rem;
        }
      }

      .small-detail {
        margin-bottom: 0;
        font-size: 0.625rem;

        @include media-breakpoint-down(md) {
          font-size: 0.6875rem;
        }
      }
    }
  }
}