@import "../variables";

.loyalty-dashboard-banner {
    background-image: url("../../images/account.jpg");
    background-position-y: 40%;
}

.row .table {
    padding: 28px 0;
}

.generic-content {
    background-color: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    border: 1px solid #ededed;
    transition: all 0.3s ease-in-out 0s;

    .generic-feature-list ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 18px;
            padding: 15px 5px;
            transition: all 0.3s ease-in-out 0s;
            color: #a7a7a7;

            &:hover {
                transition: all 0.3s ease-in-out 0s;
                background-color: #E4E4E4;
                border-left: 5px solid #00a1e0;
            }

            span {
                color: #414141;
            }
        }
    }

    .price{
        transition: all 0.3s ease-in-out 0s;
    }

    .generic-head-price {
        background-color: #f6f6f6;
        margin: 0 0 20px;

        .generic-head-content {
            margin: 0 0 50px;

            .head-bg {
                border-color: #e4e4e4 rgba(0%, 0%, 0%, 0%) rgba(0%, 0%, 0%, 0%) #e4e4e4;
                border-style: solid;
                border-width: 90px 1411px 23px 399px;
                position: absolute;
                transition: all 0.3s ease-in-out 0s;
            }

            .head {
                padding-top: 40px;
                position: relative;
                z-index: 1;

                h2 {
                    transition: all 0.3s ease-in-out 0s;
                }

                span {
                    color: #525252;
                    font-size: 28px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                }
            }
        }

        .generic-price-tag {
            padding: 0 0 20px;

            .price {
                display: block;

                .cent {
                    color: #414141;
                    display: inline-block;
                    font-size: 21px;
                    font-weight: 400;
                    vertical-align: bottom;
                }
            }
        }
    }

    &.active {
        .generic-head-price .generic-head-content .head-bg {
            border-color: #00a1e0 rgba(0%, 0%, 0%, 0%) rgba(0%, 0%, 0%, 0%) #00a1e0;
            color: #fff;
        }

        .generic-head-price .generic-head-content .head span {
            color: #fff;
        }
    }

    &:hover {
        transition: all 0.3s ease-in-out 0s;

        .generic-head-price .generic-head-content .head-bg {
            border-color: #00a1e0 rgba(0%, 0%, 0%, 0%) rgba(0%, 0%, 0%, 0%) #00a1e0;
            color: #fff;
            transition: all 0.3s ease-in-out 0s;
        }

        .generic-content:hover .generic-head-price .generic-head-content .head h2 {
            transition: all 0.3s ease-in-out 0s;
        }

        .generic-head-price .generic-head-content .head span {
            color: #fff;
        }

        // .price {
        //     transition: all 0.3s ease-in-out 0s;
        // }
    }
}

@include media-breakpoint-down(sm) {
    .generic-content {
        margin-bottom: 75px;
    }
}

@include media-breakpoint-between(sm,md) {
    .col-md-3 {
        float: left;
        width: 50%;
    }

    .col-md-4 {
        float: left;
        width: 50%;
    }

    .generic-content {
        margin-bottom: 75px;
    }
}
